#testing 

# Verification

## Definition

"Are we building it right?"

Software specs and System plus [[Software Testing|Testing]] inspections and static analysis.

Comes after [[Validation]]
