#testing 

# Verification

## Definition

"Are we building it right?"

Software specs and System plus testing inspections and static analysis.

Comes after [[Validation]]
